
*{
	font-family: 'Kreon', serif;
}
body{
	width: 100%;
	margin: 0 auto;
}
/*NAv*/
nav{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	height: 45px;
	width: 100%;
	top: 20px;
}	
.head{
	width: 100%;
	background-color: #A5D1DA;
	margin: 0 auto;
	height: 400px;
}
.logo{
	width: 20px;
	float: left;
	position: relative;
	height: 20px;
	padding: 0px;
	margin-top: 20px;
	padding-left: 20%;
}
.logotext{
	position: relative
	top: 40px;
	margin-left: 10px;
}
.nav{
	float: right;
	position: relative;
	width: 100%;
	display: inline;
	color: black;
	margin: 0 auto;
	top: -45px;
	margin-right: 15%;
}
.nav li a:hover{
	background-color: black;
	color: #A5D1DA;
	border: 1px solid black;
	border-radius: 5px;
	height: 30px;
}
.nav li{
	display: inline-block;
	text-decoration: none;
	float: right;
	display: inline;
	padding: 5px 5px 5px 5px;
	margin-right: 15px;
	font-family: 'Open Sans', sans-serif;
}
.navi{
	text-decoration: none;
	color: black;
}
.port{
	background-color: black;
	border-radius: 5px;
}
.pnav{
	color: #A5D1DA;
	text-decoration: none;
}
/*header section*/
.awe{
	width: 100%;
	height: 250px;
	margin-top: 60px;
	text-align: center;
}
.awetext{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;


}
.awetext h1{
	color: white;
	font-size: 36px;

	
}
.bigpic{
	width: 20%;
	height: 200px;
	display: inline-block;
	margin-top: 25px;
}
.screen{
	width:85%;
	height: 200px;
	margin: 0;
}
/*design section*/
.ihp {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 10px;
   
}
.icon{
	width: 100px;
	height: 100px;

}
.hd{
	text-align: center;
}
.container{
	width: 100%;
	height: 350px;
	margin-top: 5%;
	text-align: center;
}
/*Work section*/
.work{
	width: 100%;
	height: 800px;
	background-color: #9AD3A6;
}
.workh{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.workh h1{
	font-size: 36px;
	color: white;
	text-align: center;
	margin: 0;

}
.workh p{
	font-size: 15px;
	color: white;
	text-align: center;
	margin: 0;
}
/*Work nav*/
.worknav{
	width: 100%;
	text-align: center;
}
.worknav ul li{
	display: inline;
	padding: 10px;
}
.worknav ul li a{
	color: white;
	text-decoration: none;
}
.work ul li a:hover{
	border: 1px solid  white;
	border-radius: 5px;
	padding: 5px;
}
.work ul li a:active{
	border: 1px solid white;
	border-radius: 5px;
	background-color: white;
	color: #9AD3A6;
}
/*work Img*/
.wpictop{
	width: 100%;
	text-align: center;
}
.workimg{
	width: 20%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 15px;
}
.wpicbottom{
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.btnWork{
	background-color: white;
	color: #9AD3A6;
	border: 5px solid white;
	border-radius: 5px;
	height: 40px;
	font-weight: bold;
}
.workbtn{
	width: 100%;
	text-align: center;
}
button:hover{
	cursor: pointer;
}
/*Photoshop Section*/
.photo{
	width: 100%;
	height: 700px;
	background-color: #F0F0F0;
	text-align: center;
}
.photos{
	width: 75%;
	display: inline-block;
	text-align: center;
	margin-top: 60px;
}
.pimg{
	width: 20%;
	display: inline-block;
	margin-right: 40px;
}
.imgp{
	width: 100%;
	height: 185px;
	display: inline-block;
}
.ptext{
	width: 60%;
	display: inline-block;
	text-align: left;
	margin: 30px;
	vertical-align: bottom;
}
.pBreak{
	width: 75%;
	height: 1px;
	background-color: black;
	margin-left: auto;
	margin-right:auto;
	margin-top: 60px;
}
.btnGreen{
	background-color: #9AD3A6;
	color: white;
	border: 5px solid #9AD3A6;
	border-radius: 5px;
	height: 40px;
	font-weight: bold;

}
.btnBlue{
	background-color: #A5D1DA;
	color: white;
	border: 5px solid #A5D1DA;
	border-radius: 5px;
	height: 40px;
	font-weight: bold;
}
/*Team Section*/
.team{
	width: 100%;
	height: 768px;
	background-color: #E0B7C7;
}
.teamHead{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.teamHead h1{
	font-size: 36px;
	color: white;
	text-align: center;
	margin: 0;

}
.teamHead p{
	font-size: 15px;
	color: white;
	text-align: center;
	margin: 0;
}

}
.teamHead h1{
	font-size: 36px;
	color: white;
}
/*Team Profile*/
.profile{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.profileImg{
	width: 20%;
	display: inline-block;
	text-align: center;
	background-color: white;
	margin: 10px;
	border-radius: 15px;
}
.pfmd{
	margin: 0 60px;
}
.profileImg i{
	font-size: 100px;
	background-color: #F0F0F0;
	margin-top: 45px;
	color: white;
}
.pfImg{
	width: 100%;
	height: 200px;
	background-color: #F0F0F0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.pfnav{
	width: 100%;
}
.pfNav ul{
	margin-left: -60px;


}
.pfNav ul li i{
	font-size: 35px;
	width: 36px;
	height: 36px;
	text-decoration: none;
	border: 1px solid;
	border-radius: 50%;
	margin-top: 5px;
	text-align: center;
	background-color: ;
}
.pfNav ul li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 2px;
}
.fb i{
	background-color: #3b5998;
}
.tw i{
	background-color: #55ACEE;
}
.pt i{
	background-color: #CB2027;
}
/*Post Section*/
.post{
	width: 100%;
	height: 768px;
	background-color: #B3D3E0;
}
.postHead{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.postHead h1{
	font-size: 36px;
	color: white;
	text-align: center;
	margin: 0;

}
.postHead p{
	font-size: 15px;
	color: white;
	text-align: center;
	margin: 0;
}
/*Post Profile*/
.pprofile{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.pprofileImg{
	width: 20%;
	display: inline-block;
	text-align: center;
	background-color: white;
	margin: 10px;
	border-radius: 15px;
}
.pfmd{
	margin: 0 60px;
}
.pprofileImg i{
	font-size: 100px;
	background-color: #F0F0F0;
	margin-top: 45px;
	color: white;
}
.ppfImg{
	width: 100%;
	height: 200px;
	background-color: #F0F0F0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.btnPost{
	background-color: white;
	color: #B3D3E0;
	border: 5px solid white;
	border-radius: 5px;
	height: 40px;
	font-weight: bold;
}
.postbtn{
	width: 100%;
	text-align: center;
}
/*Contact Section*/
.contact{
	width: 100%;
	height: 768px;
	background-color: #3C3C3C;
}
.contactHead{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}
.contactHead h1{
	font-size: 36px;
	color: white;
	text-align: center;
	margin: 0;

}
.contactHead p{
	font-size: 15px;
	color: white;
	text-align: center;
	margin: 0;
}
.btnContact{
	background-color: white;
	color: #3C3C3C;
	border: 5px solid white;
	border-radius: 5px;
	height: 40px;
	font-weight: bold;
}
.contactbtn{
	width: 100%;
	text-align: center;
}
input{
	width: 35%;
	height: 35px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	background-color: #EDEDED;
}
textarea{
	width:35%;
	height: 70px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	background-color: #EDEDED;
}
.contactForm{
	width: 100%;
	text-align: center;
}
/*Footer*/
.footBreak{
	width: 75%;
	height: 1px;
	background-color: black;
	margin-left: auto;
	margin-right:auto;
	margin-top: 60px;
}
.footer{
	width: 100%;
	height: 45px;
	display: inline-block;
}
.footNav{
	width: 25%;
	height:45px;
	display: inline-block;
	margin-left: 250px;
}
.footNav ul li{
	display: inline-block;
	text-align: center;
	vertical-align: center;
}
.footNav ul li a i{
	background-color: #515151;
	border-radius: 50%;
	color: #3C3C3C;
	width: 30px;
	height: 30px;
	font-size: 25px;

}
.copyright{
	width: 25%;
	height: 45px;
	display: inline-block;
	margin-left: 400px;



}